name: Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: yarn
      - run: yarn test

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: yarn
      - run: yarn compile

      - name: Set alert values
        run: |
          export ALIAS=create-alert-int-test-$(date +%s)
          echo "ALERT_ALIAS=$(echo -n $ALIAS)" >> $GITHUB_ENV

      - name: Create OpsGenie Alert
        uses: rockem/create-opsgenie-alert-action@v1
        with:
          api_key: ${{ secrets.OPSGENIE_API_KEY }}
          alias: ${{ env.ALERT_ALIAS }}
          message: Close alert test alert
          priority: P5

      - run: sleep 2

      - name: Close OpsGenie Alert
        uses: ./
        with:
          api_key: ${{ secrets.OPSGENIE_API_KEY }}
          using_eu_url: false
          alias: ${{ env.ALERT_ALIAS }}

      - run: sleep 5

      - name: Assert alert closed
        env:
          OPSGENIE_API_KEY: ${{ secrets.OPSGENIE_API_KEY }}
        run: |
          node ./test/assert_closed_alert_exists.js \
          ${{ env.ALERT_ALIAS }}
